<div
  class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-row MuiGrid-spacing-xs-2 css-zjhuaj-MuiGrid-root"
  style="margin-top: 20px"
>
  <div
    class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-row MuiGrid-spacing-xs-2 css-1ygt0nr-MuiGrid-root"
  >
    <div class="MuiGrid-root MuiGrid-direction-xs-row css-17fpwt7-MuiGrid-root">
      <p
        class="MuiTypography-root MuiTypography-body1 css-rizt0-MuiTypography-root"
      ></p>
      <div class="MuiBox-root css-uxi90z">
        <div class="MuiBox-root css-68kvut"></div>
        <div class="MuiBox-root css-1uv5p8m">
        </div>
      </div>
    </div>
    <div class="MuiGrid-root MuiGrid-direction-xs-row css-17fpwt7-MuiGrid-root">
      <div class="MuiBox-root css-h9tm71">
    </div>
  </div>
  <div class="MuiGrid-root MuiGrid-direction-xs-row css-17fpwt7-MuiGrid-root">
  </div>
  <div class="MuiGrid-root MuiGrid-direction-xs-row css-17fpwt7-MuiGrid-root">
    <div class="MuiBox-root css-h5fkc8">
      <h4
        class="MuiTypography-root MuiTypography-h4 css-f84ov1-MuiTypography-root"
      >
        Councils
      </h4>
    </div>
    <div class="gallery-container">
      <div
        class="swiper swiper-coverflow swiper-3d swiper-initialized swiper-horizontal swiper-watch-progress mySwiper-secondGallery"
      >
        <div
          class="swiper-wrapper"
          style="
            cursor: grab;
            transition-duration: 0ms;
            transition-delay: 0ms;
            transform: translate3d(123.3px, 0px, 0px);
          "
        >
          <div
            class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-active"
            style="
              transition-duration: 0ms;
              transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg)
                scale(1);
              z-index: 1;
            "
          >
            <img alt="Slide 1" src="photo1.jpg" />
            <div
              class="swiper-slide-shadow-left swiper-slide-shadow-coverflow"
              style="opacity: 0; transition-duration: 0ms"
            ></div>
            <div
              class="swiper-slide-shadow-right swiper-slide-shadow-coverflow"
              style="opacity: 0; transition-duration: 0ms"
            ></div>
          </div>
          <div
            class="swiper-slide swiper-slide-visible swiper-slide-next"
            style="
              transition-duration: 0ms;
              transform: translate3d(-99.9446px, 0px, -299.834px) rotateX(0deg)
                rotateY(-49.9723deg) scale(1);
              z-index: 0;
            "
          >
            <img alt="Slide 2" src="photo2.jpg" />
            <div
              class="swiper-slide-shadow-left swiper-slide-shadow-coverflow"
              style="opacity: 0; transition-duration: 0ms"
            ></div>
            <div
              class="swiper-slide-shadow-right swiper-slide-shadow-coverflow"
              style="opacity: 0.999446; transition-duration: 0ms"
            ></div>
          </div>
          <div
            class="swiper-slide"
            style="
              transition-duration: 0ms;
              transform: translate3d(-200.028px, 0px, -600.083px) rotateX(0deg)
                rotateY(-100.014deg) scale(1);
              z-index: -1;
            "
          >
            <img alt="Slide 3" src="photo3.jpg" />
            <div
              class="swiper-slide-shadow-left swiper-slide-shadow-coverflow"
              style="opacity: 0; transition-duration: 0ms"
            ></div>
            <div
              class="swiper-slide-shadow-right swiper-slide-shadow-coverflow"
              style="opacity: 2.00028; transition-duration: 0ms"
            ></div>
          </div>
          <div
            class="swiper-slide"
            style="
              transition-duration: 0ms;
              transform: translate3d(-299.972px, 0px, -899.917px) rotateX(0deg)
                rotateY(-149.986deg) scale(1);
              z-index: -2;
            "
          >
            <img alt="Slide 4" src="photo1.jpg" />
            <div
              class="swiper-slide-shadow-left swiper-slide-shadow-coverflow"
              style="opacity: 0; transition-duration: 0ms"
            ></div>
            <div
              class="swiper-slide-shadow-right swiper-slide-shadow-coverflow"
              style="opacity: 2.99972; transition-duration: 0ms"
            ></div>
          </div>
          <div
            class="swiper-slide"
            style="
              transition-duration: 0ms;
              transform: translate3d(-400.055px, 0px, -1200.17px) rotateX(0deg)
                rotateY(-200.028deg) scale(1);
              z-index: -3;
            "
          >
            <img alt="Slide 5" src="photo2.jpg" />
            <div
              class="swiper-slide-shadow-left swiper-slide-shadow-coverflow"
              style="opacity: 0; transition-duration: 0ms"
            ></div>
            <div
              class="swiper-slide-shadow-right swiper-slide-shadow-coverflow"
              style="opacity: 4.00055; transition-duration: 0ms"
            ></div>
          </div>
          <div
            class="swiper-slide"
            style="
              transition-duration: 0ms;
              transform: translate3d(-500px, 0px, -1500px) rotateX(0deg)
                rotateY(-250deg) scale(1);
              z-index: -4;
            "
          >
            <img alt="Slide 6" src="photo3.jpg" />
            <div
              class="swiper-slide-shadow-left swiper-slide-shadow-coverflow"
              style="opacity: 0; transition-duration: 0ms"
            ></div>
            <div
              class="swiper-slide-shadow-right swiper-slide-shadow-coverflow"
              style="opacity: 5; transition-duration: 0ms"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
